$margin:124px;
$mc:#0083CE;
$subc:#299AEF;
$border:1px solid #f3f3f3;
//字体图标
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496971345516'); /* IE9*/
  src: url('iconfont.eot?t=1496971345516#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496971345516') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496971345516') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496971345516#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e658"; }

.icon-jiantou:before { content: "\e601"; }


/** 顶部 **/
#top{width:100%;height:36px;background-color:#F8F8F8;font-size: 12px;position:relative;border-bottom: $border;}
#top .address{
	float:left;
	display:block;
	height:36px;
	line-height:36px;
	margin-left:124px;
	padding-left: 4px;
	position: relative;
	i{
		position: absolute;
		right: 0px;
		transform:rotate(270deg);
		font-size: 12px;
	}
	/* &:hover{
		background-color: #fff;
		i{
			transform:rotate(90deg);
			right: 3px;
		}
	} */
	span{
		margin-left:4px;
		padding-right: 14px;
		font-weight: bold;
	}
}
#top>ul{
	padding-bottom:10px;
	margin-right:116px;
	padding-top:10px;
	float:right;
	position: relative;
	li{
		float:left;
		border-left:1px solid #E0E0E0;
		position: relative;
		&:nth-child(3){
			padding-right: 8px;
			z-index: 10;
			ul{
				display: none;
				width: 92px;
				top:-6px;
				left: -1px;
				background-color: #fff;
				border:$border;
				position: absolute;
				z-index: 1;
				li{
					&:nth-child(3){
						padding: 0;
					}
					&:hover{
						background-color: rgb(238,238,238);
						a{text-decoration: none;color: #000;}
					}
					width: 92px;
					a:first-child{margin-left: 10px;}
					line-height: 26px;
					border: 0;
				}
				.my{
					padding: 0;
					&:hover{background-color: #fff;
						a{
							color: $mc;
							text-decoration: underline;
						}
					}
					span{
						position: absolute;
						transform:rotate(90deg);
						right: 14px;
						font-size: 12px;
					}
				}
			}
		}
		span{
			position: absolute;
			transform:rotate(270deg);
			right: 2px;
			top:2px;
			font-size: 12px;
		}
	}
	li:first-child{
		border-left:0;
		a:first-child{
			margin-right: 1px;
		}
		a:last-child{
			margin-left: 1px;
		}
	}
	li:nth-child(5){
		a:hover{
			text-decoration: none;
			color: #000;
		}
	}
	a{
		margin:0 10px;
		line-hight:36px;
		&:hover{
			color: $mc;
			text-decoration: underline;
		}
	}
}
#top ul li:last-child{
	.phone{
		&:hover{
			ul{display: block;}
		}
		position: relative;
		ul{
			width: 220px;
			top:26px;
			display: none;
			position: absolute;
			background-color: #fff;
			z-index: 100;
			left: -60px;
			border: $border;
			padding: 10px;
			li{
				border:0;
				img{
					float: left;
				}
				h6{
					float: left;
					display: block;
					width: 110px;
				}
			}
		}
		a{

			padding-left: 10px;
		}
		span{
			display: block;
			width: 12px;
			transform:rotate(360deg);
			position: absolute;
			left: 2px;
			font-size: 14px;
		}
		
	}
}

#top ol{
	position: absolute;
	top:36px;
	left: 124px;
	background-color: #fff;
	z-index:2000;
	padding: 10px;
	line-height: 20px;
	border-right: $border;
	border-left: $border;
	border-bottom: $border;
	display: none;
	span{
		padding-right: 6px;
		font-weight: bold;
	}
	a{
		padding:0 6px;
		&:hover{
			color: $mc;
			cursor: pointer;
			text-decoration:underline;
		}
	}
}

/**搜索 **/
/* #smalltop{background:url(../img/smalltop.jpg) no-repeat center;height:60px;margin:0 auto;} */
#search .logo{padding-left:$margin;float:left;}
#search input{ outline:none; height:36px;border:2px solid #0083CE;float: left;box-sizing:border-box;width: 406px;margin-top: 35px;padding-left: 4px;}
#search button{float:left;height: 36px;background-color:#0083CE;color: #fff;border:0;width: 96px;margin-top: 35px;outline: none;}
#search span{float: left;color:$mc;margin-top: 52px;margin-left: 15px;}
#search>img{width: 80px;border: 1px solid #EEEEEE;margin-top: 35px;float: left;}
#search .p2{width: 24px;float: left;font-size:14px;padding: 2px;border:1px solid #eee;height:77px;line-height: 14px;text-align: center;border-right:0;margin-top: 35px;margin-left: 30px;}
#search .smallCar{position:relative;width: 132px;height: 36px;border:1px solid #eee;float: left;background-color: #FAFAFA;text-align: center;line-height: 36px;font-size: 14px;margin-left: 18px;margin-top: 35px;}
#search .smallCar:before{
	content:'';
	width: 40px;
	height: 40px;
	background-image: url('../css/img/car.png');
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:10px 6px;
	display: block;
	position: absolute;
	top:0;
}
#search .smallCar i{font-style: normal;color: #fff;display: block;width: 18px;height: 18px;background-color: #f00;border-radius: 50%;position: absolute;text-align:center; line-height:18px;left:20px;top:2px;font-size: 12px;}
#search .mainSearch{float: left;width: 503px;margin-left: 50px;}
#search .mainSearch ul{font-size: 12px;margin-top: 10px;float: left;}
#search .mainSearch ul li{float: left;}
#search .mainSearch ul li a{padding: 0 4px;}

/**导航栏**/
header{position: relative;}
header .vNav{
	width: 180px;
	float: left;
	margin-left: $margin;
	color: #fff;
	position: absolute;
	z-index: 1000;
	&:hover{
		ul{
			height: 400px;
			li:before{
				display: block;
			}
		}
	}
	h3{
		background-color: $mc;
		font-size: 16px;
		padding-left:14px;
		line-height: 36px;
	}
	ul{
		height: 0px;
		background-color: $subc;
		overflow: hidden;
		transition: height 2s;
		li{
			position: relative;
			img{
				width: 30px;
				height: 30px;
				position: absolute;
				left:8px;
				top:6px;
			}
			a{
				font-size: 14px;
				color: #fff;
				padding-left: 48px;
				line-height: 40px;
			}
		}
	}
}
header .hNav{
	border-bottom:2px solid $mc;
	ul{
		margin-left: 304px;
		line-height: 34px;
		float: left;
		li{
			float: left;
			a{
				height: 34px;
				margin:0 15px;
			}
		}
	}
}

/**面包屑**/
main .bread{
	margin-left: $margin;
	padding-left: 8px;
	li{
		line-height: 40px;
		font-size: 14px;
		display: inline;
		margin-left: 4px;
	}
}
main .goodsMsg{
	float: left;
	margin-left: $margin;
	.goodsPic{
		border:$border;
		float: left;
		width: 300px;
		height: 300px;
		img{
			width: 100%;
		}
	}
	aside{
		margin-right: 100px;
		margin-top: 10px;
		margin-left: 100px;
		float: left;
		.gurantee{
			width: 190px;
			padding:14px;
			background-color: $mc;
			color: #fff;
			line-height: 24px;
		}
		.code{
			p{
				padding-top: 20px;
			}
			text-align: center;
			font-size: 14px;
			width: 216px;
			border: $border;
			border-top:0;
			img{
				margin-left: 50px;
				padding: 20px 0;
			}
		}
	}
	.mid{
		float: left;
		margin-left: 40px;
		h1{
			color: #5E5E5E;
			font-size: 20px;
			line-height: 40px;
		}
		.descri{
			color: #f00;
			font-size: 12px;
		}
		.price{
			margin-top: 30px;
			font-size: 12px;
			span{
				color: #E72418;
				font-size: 24px;
			}
		}
		.num{
			p{
				line-height: 42px;
				float: left;
				display: inline-block;
			}
			.goodsNum{
				display: inline-block;
				input{
					padding-left: 4px;
					border: $border;
					margin-left: 10px;
					float: left;
					line-height: 36px;
					width: 80px;
					height: 40px;
					outline: none;
					font-size: 16px;
					color: #5E5E5E;
				}
				button{
					margin-left: 10px;
					float: left;
					padding: 0;
					width: 42px;
					height: 42px;
					border: 0;
					color: #fff;
					font-size: 20px;
					text-align: center;
					line-height: 40px;
					background-color: #f0f0f0;
					outline: none;
				}
			}
			margin-top: 48px;
			font-size: 12px;
		}
		.add{
			outline:none;
			margin-top: 36px;
			font-size: 20px;
			border: 0;
			width: 240px;
			height: 50px;
			border-bottom: 3px solid #9A0900;
			color: #fff;
			text-align: center;
			line-height: 50px;
			background-color: #E72418;
		}
	}
}
.picDetail{
	margin-left: $margin;
	float: left;
	position: absolute;
	top:542px;
	left:0px;
	img{
		float: left;
		width: 50px;
		height: 50px;
		border: $border;
		border-left: 0;
		&:first-child{
			border: $border;
		}
	}
	span{
		display: block;
		position: absolute;
		width: 49px;
		height: 49px;
		border: 1px solid #f00;
		top:0;
		left: 0;
	}
}

/**友情链接**/


/**服务**/
footer{margin-top: 80px;}
footer section{
	text-align: center;
	p{
		line-height: 30px;
		font-size: 14px;
	}
}
footer .service{
	background-color: #F0F0F0;
	padding-top: 40px;
	padding-left: $margin;
	li{
		&:hover{margin-top: -10px;}
		img{margin-left: 112px;padding-bottom: 10px;}
		width: 296px;
		text-align: center;
		float: left;
		h3{font-weight: bold;}
		p{line-height: 36px;padding-bottom: 20px;font-size: 14px;}
	}
}
footer .mainlink{
	padding-left: $margin;
	.msg{
		float: left;
		margin-left: 80px;
		padding-left: 90px;
		margin-top: 40px;
		text-align: center;
		border-left: $border;
		h3{
			color: #D1B992;
			padding-top: 20px;
			line-height: 50px;
			font-size: 20px;
		}
		p{font-size: 14px;}
		p:last-child{padding-bottom: 20px;}
	}
}
footer .mainlink dl{
	dt{
		line-height: 50px;
		font-weight: bold;
	}
	dd{
		a:hover{text-decoration: underline;}
		line-height: 24px;
		font-size: 14px;
	}
	float: left;
	padding: 20px;
}

/**侧边栏**/
#sidebar{width:40px;border: $border;height: 160px;position: fixed;right:50px;bottom: 50px;box-sizing: border-box;background-color: #fff;}
#sidebar .service{

	&:hover{
		i{display: none;}
		span{display: block;}
	}
	height: 39px;
	width: 39px;
	border-bottom: $border;
	.text{
		line-height: 18px;
		background-color: #f00;
		color: #fff;
		text-align: center;
		display: block;
		height: 39px;
		width: 39px;
		box-sizing: border-box;
		&:last-child{border:0}
		display: none;
	}
}
#sidebar .service:nth-child(4){
		border:0;
	}
#sidebar .car{
	position: relative;
	i{	
		text-align: center;
		line-height: 16px;
		font-style: normal;
		display: block;
		width: 16px;
		height: 16px;
		color: #fff;
		position: absolute;
		border-radius: 50%;
		background-color: #f00;
		font-size: 12px;
		top:2px;
		right:2px;
	}
	&:hover{
		&:after{
			display: none;
		}
	}
	&:after{
		content:'';
		display: block;
		width: 40px;
		height: 40px;
		background:url(../css/img/car.png) no-repeat center;
		background-size: 26px 26px;
	}
}

#siderbar ul {
	.total{
		margin-left: 10px;
	}
	.totalPrice{
		margin-left: 10px;
	}

}
#sidebar ul li{
	position: relative;
	border-bottom: $border;
	padding: 10px 0;
	padding-right: 10px;
	img,p{
		float: left;
	}
	/* .title{
		&::after{
			display: none;
		}
	} */
	img{
		padding-left: 10px;
	}
	p{
		font-size: 12px;
		border: 0;
		padding-top: 4px;
		&:nth-child(2){
			width: 200px;
			font-size: 12px;
		}
	}
	.title{
		margin-left: 20px;
	}
	.price{color: #f00;position: absolute;left:196px;top:30px}

	input{
		text-align: center;
		float: right;
		margin-top: 4px;
		width: 30px;
		border: $border;
		margin-left: 4px;

	}
	button{
		border: $border;
		float: right;
		margin-top: 4px;
		margin-left: 4px;
		background-color: #fff;
	}
}
#sidebar .bottom{
	border-bottom: 1px solid #f00;
	border-left: 1px solid #f00;
	border-right: 1px solid #f00;
	font-size: 14px;
	p{
		line-height: 30px;
		padding-left: 10px;
	}
	button{
		width: 60px;
		line-height: 20px;
		background-color: #f00;
		a{	
			color: #fff;
		}
	}
	.win{
		position: absolute;
		display: block;
		overflow:auto;
		height: 190px;
	}
}