@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1496971345516");
  /* IE9*/
  src: url("iconfont.eot?t=1496971345516#iefix") format("embedded-opentype"), url("iconfont.woff?t=1496971345516") format("woff"), url("iconfont.ttf?t=1496971345516") format("truetype"), url("iconfont.svg?t=1496971345516#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-shouji:before {
  content: "\e658"; }

.icon-jiantou:before {
  content: "\e601"; }

/** 顶部 **/
#top {
  width: 100%;
  height: 36px;
  background-color: #F8F8F8;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #f3f3f3; }

#top .address {
  float: left;
  display: block;
  height: 36px;
  line-height: 36px;
  margin-left: 124px;
  padding-left: 4px;
  position: relative;
  /* &:hover{
		background-color: #fff;
		i{
			transform:rotate(90deg);
			right: 3px;
		}
	} */ }
  #top .address i {
    position: absolute;
    right: 0px;
    transform: rotate(270deg);
    font-size: 12px; }
  #top .address span {
    margin-left: 4px;
    padding-right: 14px;
    font-weight: bold; }

#top > ul {
  padding-bottom: 10px;
  margin-right: 116px;
  padding-top: 10px;
  float: right;
  position: relative; }
  #top > ul li {
    float: left;
    border-left: 1px solid #E0E0E0;
    position: relative; }
    #top > ul li:nth-child(3) {
      padding-right: 8px;
      z-index: 10; }
      #top > ul li:nth-child(3) ul {
        display: none;
        width: 92px;
        top: -6px;
        left: -1px;
        background-color: #fff;
        border: 1px solid #f3f3f3;
        position: absolute;
        z-index: 1; }
        #top > ul li:nth-child(3) ul li {
          width: 92px;
          line-height: 26px;
          border: 0; }
          #top > ul li:nth-child(3) ul li:nth-child(3) {
            padding: 0; }
          #top > ul li:nth-child(3) ul li:hover {
            background-color: #eeeeee; }
            #top > ul li:nth-child(3) ul li:hover a {
              text-decoration: none;
              color: #000; }
          #top > ul li:nth-child(3) ul li a:first-child {
            margin-left: 10px; }
        #top > ul li:nth-child(3) ul .my {
          padding: 0; }
          #top > ul li:nth-child(3) ul .my:hover {
            background-color: #fff; }
            #top > ul li:nth-child(3) ul .my:hover a {
              color: #0083CE;
              text-decoration: underline; }
          #top > ul li:nth-child(3) ul .my span {
            position: absolute;
            transform: rotate(90deg);
            right: 14px;
            font-size: 12px; }
    #top > ul li span {
      position: absolute;
      transform: rotate(270deg);
      right: 2px;
      top: 2px;
      font-size: 12px; }
  #top > ul li:first-child {
    border-left: 0; }
    #top > ul li:first-child a:first-child {
      margin-right: 1px; }
    #top > ul li:first-child a:last-child {
      margin-left: 1px; }
  #top > ul li:nth-child(5) a:hover {
    text-decoration: none;
    color: #000; }
  #top > ul a {
    margin: 0 10px;
    line-hight: 36px; }
    #top > ul a:hover {
      color: #0083CE;
      text-decoration: underline; }

#top ul li:last-child .phone {
  position: relative; }
  #top ul li:last-child .phone:hover ul {
    display: block; }
  #top ul li:last-child .phone ul {
    width: 220px;
    top: 26px;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    left: -60px;
    border: 1px solid #f3f3f3;
    padding: 10px; }
    #top ul li:last-child .phone ul li {
      border: 0; }
      #top ul li:last-child .phone ul li img {
        float: left; }
      #top ul li:last-child .phone ul li h6 {
        float: left;
        display: block;
        width: 110px; }
  #top ul li:last-child .phone a {
    padding-left: 10px; }
  #top ul li:last-child .phone span {
    display: block;
    width: 12px;
    transform: rotate(360deg);
    position: absolute;
    left: 2px;
    font-size: 14px; }

#top ol {
  position: absolute;
  top: 36px;
  left: 124px;
  background-color: #fff;
  z-index: 2000;
  padding: 10px;
  line-height: 20px;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  display: none; }
  #top ol span {
    padding-right: 6px;
    font-weight: bold; }
  #top ol a {
    padding: 0 6px; }
    #top ol a:hover {
      color: #0083CE;
      cursor: pointer;
      text-decoration: underline; }

/**搜索 **/
/* #smalltop{background:url(../img/smalltop.jpg) no-repeat center;height:60px;margin:0 auto;} */
#search .logo {
  padding-left: 124px;
  float: left; }

#search span {
  float: left;
  color: #0083CE;
  margin-top: 52px;
  margin-left: 15px; }

#search .buyStep {
  margin-left: 742px; }
  #search .buyStep .current {
    color: #fff;
    background: url(../img/followstep.png) no-repeat top right;
    background-color: #0083CE; }
  #search .buyStep li {
    margin-top: 46px;
    padding: 0 50px;
    background-color: #f3f3f3;
    line-height: 30px;
    text-align: center;
    color: #a5a5a5;
    float: left;
    font-size: 14px; }
    #search .buyStep li:nth-child(2) {
      background: url(../img/followstep.png) no-repeat top right;
      background-color: #f3f3f3; }

/**购物车主体部分**/
main .bigtitle {
  margin-left: 124px; }
  main .bigtitle li {
    font-size: 20px;
    float: left; }
    main .bigtitle li:nth-child(2) {
      margin-left: 20px; }
  main .bigtitle .active {
    color: #0083CE;
    border-bottom: 1px solid #0083CE; }

main .content .type {
  font-size: 14px; }
  main .content .type ul {
    width: 1190px;
    margin-left: 124px;
    background-color: #f3f3f3; }
  main .content .type li {
    padding: 10px 20px;
    float: left;
    width: 80px;
    text-align: center; }
    main .content .type li:first-child {
      width: 540px; }
    main .content .type li:nth-child(3) {
      width: 140px; }
    main .content .type li:last-child {
      width: 100px; }

main .content .car {
  float: left;
  display: block;
  margin-left: 124px; }
  main .content .car li {
    padding: 10px 14px;
    border-bottom: 1px solid #f3f3f3; }
    main .content .car li img {
      float: left; }
    main .content .car li p {
      padding-left: 10px;
      float: left; }
    main .content .car li .smallTol {
      float: left;
      display: block;
      padding-top: 20px;
      color: #f00;
      width: 80px;
      margin-left: 70px; }
    main .content .car li .del {
      float: left;
      color: #000;
      padding-top: 20px;
      margin-left: 64px; }
    main .content .car li .title {
      width: 400px;
      line-height: 20px;
      padding-top: 20px;
      text-align: center; }
    main .content .car li .price {
      padding-top: 20px;
      width: 200px;
      text-align: center;
      margin-left: 20px;
      margin-right: 10px; }
    main .content .car li button {
      margin-top: 20px;
      float: left;
      border: 1px solid #f3f3f3;
      background-color: #fff;
      margin-left: 4px; }
    main .content .car li input {
      margin-left: 4px;
      width: 40px;
      border: 1px solid #f3f3f3;
      margin-top: 20px;
      float: left;
      text-align: center; }
  main .content .car .bottom {
    line-height: 40px; }
    main .content .car .bottom p {
      margin-left: 60px; }
    main .content .car .bottom .totalPrice span {
      font-weight: bold; }
    main .content .car .bottom button {
      margin-top: 0;
      margin-left: 30px;
      float: right;
      width: 100px;
      font-size: 18px;
      font-weight: bold;
      border: 0;
      border-bottom: 2px solid #aa0000;
      background-color: #f00;
      border-radius: 6px; }
      main .content .car .bottom button a {
        display: block;
        color: #fff;
        line-height: 30px; }
    main .content .car .bottom .goBuy {
      border: 1px solid #f00;
      background-color: #fff; }
      main .content .car .bottom .goBuy a {
        color: #f00;
        font-weight: normal; }

/**服务**/
footer {
  margin-top: 40px; }

footer section {
  text-align: center; }
  footer section p {
    line-height: 30px;
    font-size: 14px; }
